@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --pink: #ff69b4;
  --pink-dark: #ff1493;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --color-pink: var(--pink);
  --color-pink-dark: var(--pink-dark);
}

body {
  background: #000000;
  color: var(--foreground);
  font-family: var(--font-roboto), 'Roboto', sans-serif;
}